﻿@model WebApplication3.Models.Venta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mdel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mdel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente1.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ntra }) |
    @Html.ActionLink("Back to List", "Index")
</p>
