﻿@model IEnumerable<WebApplication3.Models.Venta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mdel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente1.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mdel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente1.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ntra }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ntra }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ntra })
        </td>
    </tr>
}

</table>
